<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,minimum-scale=1">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="~/images/thuchanh.jpg" style="width:100%">
        </div>

        <div class="mySlides fade" >
            <img src="~/images/bienbao.jpg" style="width:100%">
        </div>

        <div class="mySlides fade" >
            <img src="~/images//bang.jpg" style="width:100%">
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);
        auto();
        function auto() {
            setInterval(() => { showSlides(slideIndex += 1); }, 2000);
        }
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }           
            slides[slideIndex - 1].style.display = "block";
        }
    </script>

</body>
</html>
